@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* ------------ root colors ------------ */
  --color-black: #1c1e21;
  --color-white: #ffffff;
  --color-grey-1: #25282d;
  --color-grey-2: #323b48;
  --color-grey-3: #4d596a;
  --color-grey-4: #718098;
  --color-grey-5: #96a1b0;
  --color-grey-6: #c5cbd3;
  --color-accent-blue: #387adf;
  --color-accent-light-blue: #ebf3ff;

  /* ------------ root font styles ------------ */
  --font-display-1: 44px;
  --font-heading-1: 44px;
  --font-heading-2: 28px;
  --font-heading-3: 24px;
  --font-body-1: 24px;
  --font-body-2: 20px;
  --font-body-3: 16px;
  --font-button-1: 20px;
  --font-button-2: 20px;
  --font-label-1: 18px;
  --font-label-2: 16px;
  --font-label-3: 14px;

  --line-height-display-1: 135%;
  --line-height-heading-1: 135%;
  --line-height-heading-2: 135%;
  --line-height-heading-3: 32px;
  --line-height-body-1: 180%;
  --line-height-body-2: 160%;
  --line-height-body-3: 150%;
  --line-height-button-1: 135%;
  --line-height-button-2: 135%;
  --line-height-label-1: 160%;
  --line-height-label-2: 160%;
  --line-height-label-3: 150%;

  --font-weight-display-1: 500;
  --font-weight-heading-1: 700;
  --font-weight-heading-2: 500;
  --font-weight-heading-3: 700;
  --font-weight-body-1: 400;
  --font-weight-body-2: 400;
  --font-weight-body-3: 400;
  --font-weight-button-1: 500;
  --font-weight-button-2: 500;
  --font-weight-label-1: 400;
  --font-weight-label-2: 400;
  --font-weight-label-3: 500;
}

/* ------------ Styles for tablets (medium screens) ------------ */
@media (max-width: 1024px) {
  :root {
    --font-display-1: 36px;
    --font-heading-1: 40px;
    --font-heading-2: 24px;
    --font-heading-3: 20px;
    --font-body-1: 20px;
    --font-body-2: 16px;
    --font-body-3: 14px;
    --font-button-1: 18px;
    --font-button-2: 18px;
    --font-label-1: 16px;
    --font-label-2: 14px;
    --font-label-3: 12px;
  }
}

/* ------------ Styles for mobile (small screens) ------------ */
@media (max-width: 480px) {
  :root {
    --font-display-1: 24px;
    --font-heading-1: 28px;
    --font-heading-2: 20px;
    --font-heading-3: 18px;
    --font-body-1: 16px;
    --font-body-2: 14px;
    --font-body-3: 13px;
    --font-button-1: 16px;
    --font-button-2: 16px;
    --font-label-1: 14px;
    --font-label-2: 12px;
    --font-label-3: 10px;
  }
}

/* ------------ root classes ------------ */
html {
  scroll-padding-top: 5rem;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
}

strong {
  font-weight: 800;
  letter-spacing: 0.02em;
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  background: var(--color-accent-light-blue);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-grey-2);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-grey-3);
  cursor: grab;
}

.primary-button {
  font-size: var(--font-button-1);
  font-weight: var(--font-weight-button-1);
  padding: 1.25rem 1.5rem;
  background: var(--color-accent-blue);
  outline: none;
  border-radius: 0.75rem;
  border: none;
  color: var(--color-white);
  cursor: pointer;
  transition: 200ms opacity ease-in-out, 200ms transform ease-in-out;
}
.primary-button:hover {
  opacity: 0.9;
  transform: scale(1.025);
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: var(--font-heading-1);
  color: var(--color-black);
}

h2 span {
  text-decoration: underline;
  color: var(--color-accent-blue);
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: var(--font-heading-2);
  font-weight: var(--font-weight-heading-2);
  line-height: var(--line-height-heading-2);
}
/* ------------------------------------------------ */

.main-container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 1.2rem;
}

/* ------------ Tablet design ------------ */
@media (max-width: 1024px) {
  .main-container {
    padding: 0rem;
  }
}
/* ------------ Mobile design ------------ */
@media (max-width: 480px) {
  .primary-button {
    padding: 1.2rem 1rem;
    width: 100%;
  }
}

/* ------------ navigation styles ------------ */
nav {
  position: sticky;
  top: 0;
  width: 100%;
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.05);
  z-index: 50;
}

.nav-container {
  display: flex;
  left: 50%;
  padding: 1.2rem;
  background: var(--color-white);
  justify-content: space-between;
  z-index: 10;
  max-width: 1440px;
  margin: auto;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navlinks {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
}

nav ul li {
  font-weight: 500;
  color: var(--color-grey-2);
  list-style: none;
}

nav ul li a {
  font-size: var(--font-button-2);
  color: var(--color-grey-2);
  text-decoration: none;
  cursor: pointer;
}

nav ul li a:hover {
  color: var(--color-accent-blue);
}

.nav-menu,
.nav-close {
  display: none;
}

.nav-button {
  font-size: var(--font-label-2);
}

/* ------------ Tablet design ------------ */
@media (max-width: 1024px) {
  .logo img {
    height: 2.8rem;
  }

  nav ul {
    gap: 1.6rem;
  }
}
/* ------------ Mobile design ------------ */
@media (max-width: 900px) {
  .navlinks {
    position: fixed;
    height: 100vh;
    z-index: 4;
    flex-direction: column;
    background: var(--color-white);
    right: 0;
    top: 0;
    width: 60vw;
    padding: 2rem;
    transform: translateX(100%);
    display: none;
    transition: transform 0.75s cubic-bezier(0.25, 0.1, 0.25, 1);
  }

  .nav-open {
    display: flex;
    transform: translateX(0);
  }

  .overlay {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: var(--color-black);
    opacity: 0.9;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;
  }

  .overlay.show {
    z-index: 3;
    display: block;
  }

  .nav-menu {
    display: block;
    cursor: pointer;
  }

  .nav-close {
    display: block;
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
  }
}

/* ------------ Hero Section styles ------------ */
.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  padding: 6rem 0;
}

.hero-container {
  position: relative;
  width: 90%;
  max-width: 1200px;
  background: var(--color-grey-1);
  border-radius: 1.5rem;
  display: flex;
  align-items: start;
  overflow: hidden;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  border-radius: 1.5rem;
  padding: 5rem 4.5rem;
  height: 100%;
  width: 75%;
  gap: 2.5rem;
  z-index: 1;
  background-color: var(--color-black);
}

.hero-content-text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.hero-content-text h1 {
  font-family: "Montserrat", sans-serif;
  font-size: var(--font-display-1);
  line-height: var(--line-height-display-1);
  font-weight: var(--font-weight-display-1);
  color: var(--color-white);
}

.hero-content-text p {
  font-size: var(--font-body-1);
  font-weight: var(--font-weight-body-1);
  line-height: var(--line-height-body-1);
  color: var(--color-grey-5);
}

.hero-img {
  position: absolute;
  z-index: 0;
  border-radius: 2rem;
}
.hero-img--horizontal {
  top: 50%;
  right: 4%;
  height: 85%;
  transform: translateY(-50%);
}
.hero-img--vertical {
  display: none;
}

/* ------------ Tablet design ------------ */
@media (max-width: 1024px) {
  .hero-content {
    padding: 2.5rem 2rem;
  }
}

/* ------------ Mid Tablet design ------------ */
@media (max-width: 640px) {
  .hero-section {
    padding: 3rem 0;
  }

  .hero-container {
    padding: 6rem 0 0;
  }

  .hero-content {
    width: 100%;
    padding: 2rem 1.4rem;
  }

  .hero-content-text {
    gap: 1rem;
  }

  .hero-img--horizontal {
    display: none;
  }

  .hero-img--vertical {
    display: inline-block;
    width: 80%;
    height: auto;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
  }
}

/* ------------ Service Section styles ------------ */
.service-section {
  padding: 2rem 0;
  width: 100%;
}

.service-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  top: 2rem;
  margin: 0 0 0.5rem;
}

.service-content > h2 {
  color: var(--color-black);
}

.service-content .service-content__for {
  display: flex;

  --offers-gap: 4rem;
  gap: var(--offers-gap);

  list-style: none;
  font-size: var(--font-label-3);
  font-weight: var(--font-weight-heading-3);
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: var(--color-grey-4);
}
.service-content .service-content__for > li + li {
  position: relative;
}
.service-content .service-content__for > li + li::before {
  content: "";
  position: absolute;
  width: 0.375rem;
  height: 0.375rem;
  border-radius: 50%;
  background-color: var(--color-accent-blue);
  top: 50%;
  transform: translate(-50%, -50%);
  left: calc(-1 * var(--offers-gap) / 2);
}

.service-content > p {
  font-size: var(--font-body-2);
  font-weight: var(--font-weight-body-2);
  line-height: var(--line-height-body-2);
  color: var(--color-grey-4);
  max-width: 37.5rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.service-cards {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 90%;
  margin-bottom: 5rem;

  --card-spacing: 3rem;
  gap: var(--card-spacing);
}

.service-card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  min-height: 27rem;
  padding: 3.2rem 3.6rem;
  gap: 2.8rem;
  border-radius: 2rem;
  background: var(--color-grey-1);
  box-shadow: 1rem 1rem 0rem var(--color-grey-4);
  outline: 0.075rem solid var(--color-grey-4);
}

.service-card-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.service-card-content > h3 {
  font-weight: var(--font-weight-heading-3);
}

.service-card-content > p {
  font-size: var(--font-body-2);
  font-weight: var(--font-weight-body-2);
  line-height: var(--line-height-body-2);
  text-align: justify;
}

.service-card-1 {
  background: var(--color-grey-1);
  box-shadow: 1rem 1rem 0rem var(--color-grey-4);
  outline: 0.075rem solid var(--color-white);
}
.service-card-1 h3 {
  color: var(--color-white);
}
.service-card-1 p {
  color: var(--color-grey-5);
}

.service-card-2 {
  background: #c1cad6;
  box-shadow: 1rem 1rem 0rem #dee8f7;
  outline: 0.075rem solid var(--color-white);
}
.service-card-2 h3 {
  color: var(--color-grey-2);
}
.service-card-2 p {
  color: var(--color-grey-3);
}

.service-card-3 {
  background: var(--color-white);
  box-shadow: 1rem 1rem 0rem #dddddd;
  outline: 0.075rem solid var(--color-grey-5);
}
.service-card-3 h3 {
  color: var(--color-grey-2);
}
.service-card-3 p {
  color: var(--color-grey-3);
}

.service-card-image {
  display: flex;
}

.service-card-image img {
  margin: auto;
}

/* ------------ Tablet design ------------ */
@media screen and (max-width: 1024px) {
  .service-section {
    padding: 4rem 0.6rem 1rem;
    overflow-x: hidden;
  }

  .service-content .service-content__for {
    --offers-gap: 2rem;
  }
  .service-content .service-content__for > li + li::before {
    width: 0.25rem;
    height: 0.25rem;
  }

  .service-cards {
    width: 96%;
    margin-bottom: 3rem;
  }

  .service-card {
    padding: 2rem 2.8rem;
    flex-direction: column-reverse;
    min-height: 58vh;
    justify-content: flex-end;
    margin-bottom: 0;
    right: auto;
    left: auto;
  }

  .service-content > p {
    max-width: 80%;
  }
}

/* ------------ Mobile design ------------ */
@media screen and (max-width: 480px) {
  .service-section {
    padding: 2rem 0.6rem 0;
  }

  .service-content {
    gap: 0.75rem;
  }

  .service-content > p {
    max-width: 92%;
  }

  .service-card {
    width: 100%;
    padding: 1.8rem 1.4rem;
    gap: 1rem;
  }

  .service-card img {
    width: 100%;
  }
}

/*------------- Clients Section -----------*/
.clients-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
  padding: 2rem 7rem 4rem;
}

.clients-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.clients-content > h2 {
  color: var(--color-black);
}

.clients-content > p {
  font-size: var(--font-body-2);
  font-weight: var(--font-weight-body-2);
  line-height: var(--line-height-body-2);
  color: var(--color-grey-4);
  max-width: 44rem;
  text-align: center;
}

.clients-container {
  background: var(--color-accent-light-blue);
  border-radius: 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-direction: column;
  gap: 1.75rem;
  padding: 2.5rem;
}

.clients-container-heading {
  grid-column: span 3; 
  text-align: center; 
  margin-bottom: 1rem; 
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-black); 
}

.clients-card {
  padding: 2rem 3.75rem;
  background: var(--color-white);
  border-radius: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clients-card img {
  width: 100%; 
  height: auto; 
  max-width: 100%; 
  max-height: 20rem; 
  object-fit: cover;
  border-radius: 1rem;
  margin-bottom: 1rem; 
}

.clients-card > h3 {
  font-family: "Montserrat", sans-serif;
  font-size: var(--font-heading-3);
  font-weight: var(--font-weight-heading-3);
  line-height: var(--line-height-heading-3);
  color: var(--color-grey-3);
}

.clients-card > p {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

/* ------------ Tablet design ------------ */
@media (max-width: 1024px) {
  .clients-container {
    grid-template-columns: repeat(2, 1fr); 
    padding: 2rem;
  }

  .clients-container-heading {
    font-size: 1.75rem; 
    grid-column: span 2; 
  }

  .clients-card {
    padding: 1.5rem 2.5rem;
  }
}

/* ------------ Mobile design ------------ */
@media (max-width: 480px) {
  .clients-container {
    grid-template-columns: 1fr; 
    padding: 1rem; 
  }

  .clients-container-heading {
    font-size: 1.5rem; 
    grid-column: span 1;
  }

  .clients-card {
    padding: 1rem;
    gap: 1rem; 
  }

  .clients-card img {
    max-height: 10rem; 
    width: 100%; 
  }

  .clients-card > h3 {
    font-size: 1.25rem;
  }

  .clients-content > p {
    font-size: 0.875rem;
  }
}


/* ------------ Events Section styles ------------ */
.event-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3.75rem;
  padding: 2rem 7rem 4rem;
}

.event-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.event-content > h2 {
  color: var(--color-black);
}

.event-content > p {
  font-size: var(--font-body-2);
  font-weight: var(--font-weight-body-2);
  line-height: var(--line-height-body-2);
  color: var(--color-grey-4);
  max-width: 44rem;
  text-align: center;
}

.event-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.event-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.event-img {
  max-height: 20rem;
  border-radius: 1rem;
  object-fit: cover;
}

.event-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.event-card-heading {
  font-family: "Montserrat", sans-serif;
  font-size: var(--font-heading-3);
  font-weight: var(--font-weight-heading-3);
  line-height: var(--line-height-heading-3);
  color: var(--color-grey-3);
}

.event-card-date-venue {
  display: flex;
  gap: 2rem;
}

.event-date,
.event-venue {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.date-icon,
.venue-icon {
  background: var(--color-accent-light-blue);
  display: flex;
  padding: 0.6rem;
  border-radius: 0.4rem;
  aspect-ratio: 1/1;
}

.date-icon img,
.venue-icon img {
  height: 1.8rem;
}

.event-date p,
.event-venue p {
  font-family: "Roboto", sans-serif;
  font-size: var(--font-label-3);
  font-weight: var(--font-weight-label-3);
  line-height: var(--line-height-label-3);
  color: var(--color-grey-4);
}

.event-card-description {
  font-family: "Roboto", sans-serif;
  font-size: var(--font-body-3);
  font-weight: var(--font-weight-body-3);
  line-height: var(--line-height-body-3);
  color: var(--color-grey-4);
  max-width: 36rem;
}

/* ------------ Tablet design ------------ */
@media (max-width: 1024px) {
  .event-section {
    width: 100%;
    padding: 2rem;
    gap: 2.5rem;
  }

  .event-card {
    flex-direction: column;
  }
  .event-img {
    max-height: unset;
    width: 100%;
  }

  /* ------------ Mobile design ------------ */
  @media (max-width: 480px) {
    .event-section {
      width: 100%;
      padding: 0rem 1rem 2rem;
      margin-top: 2rem;
      gap: 2.5rem;
    }

    .event-card {
      gap: 1rem;
    }

    .event-card-date-venue {
      gap: 1.2rem;
    }
  }
  .date-icon img,
  .venue-icon img {
    height: 1.4rem;
  }
}

/* ------------ Community Section styles ------------ */
.community-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 3.75rem 7.5rem;
}

.community-content {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.community-content h2 {
  font-family: "Montserrat", sans-serif;
  font-size: var(--font-display-1);
  font-weight: var(--font-weight-heading-1);
  line-height: var(--line-height-display-1);
  color: var(--color-black);
  text-align: center;
}

.community-content p {
  text-align: center;
  font-size: var(--font-body-2);
  font-weight: var(--font-weight-body-2);
  line-height: var(--line-height-body-2);
  color: var(--color-grey-3);
}

.community-container {
  background: var(--color-accent-light-blue);
  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.75rem;
  padding: 2.5rem;
}

.community-featured-video {
  width: 100%;
  aspect-ratio: 4/2.5;
  object-fit: cover;
  border-radius: 0.75rem;
  overflow: hidden;
}

.community-featured-video img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 4/2.5;
}

.community-aim {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  padding: 0 2.5rem;
}

.community-aim h3 {
  font-family: "Montserrat", sans-serif;
  font-size: var(--font-heading-2);
  font-weight: var(--font-weight-heading-2);
  line-height: var(--line-height-heading-2);
  color: var(--color-grey-2);
}

.community-aims {
  display: flex;
}

.community-aims-left,
.community-aims-right {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1.25rem;
}

.aim {
  display: flex;
  justify-content: flex-start;
  align-items: first baseline;
  gap: 1rem;
}

.aim p {
  font-family: "Roboto", sans-serif;
  font-size: var(--font-body-2);
  font-weight: var(--font-weight-body-2);
  line-height: var(--line-height-body-2);
  color: var(--color-grey-2);
}

.join-community {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  padding: 2rem 3.75rem;
  background: var(--color-white);
  border-radius: 1.25rem;
}

.join-community p {
  font-size: var(--font-body-2);
  font-weight: var(--font-weight-body-2);
  line-height: var(--line-height-body-2);
  color: var(--color-grey-1);
}

.join-community button {
  width: 100%;
}

/* ------------ Tablet design ------------ */
@media (max-width: 1024px) {
  .community-section {
    width: 100%;
    padding: 3.75rem 2.5rem;
    gap: 2.5rem;
  }
}

/* ------------ Mid Tablet design ------------ */
@media (max-width: 950px) {
  .community-section {
    width: 100%;
    padding: 3.75rem 2rem;
    gap: 2.5rem;
  }

  .community-container {
    padding: 1.2rem;
  }

  .community-aim {
    padding: 0 1.5rem;
  }

  .community-aims {
    flex-direction: column;
    gap: 1.25rem;
  }
}

/* ------------ Mobile design ------------ */
@media (max-width: 480px) {
  .community-section {
    padding: 1.25rem 1rem;
    gap: 2.5rem;
  }

  .community-content {
    gap: 1rem;
  }

  .community-container {
    padding: 1rem;
  }

  .community-aim {
    padding: 0 0.75rem;
  }

  .join-community {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
    padding: 1.25rem 1rem;
    background: var(--color-white);
    border-radius: 1.25rem;
  }
}

/* ------------ About Section styles ------------ */
.about-section {
  display: flex;
  gap: 2.5rem;
  padding: 6rem 7.5rem;
  width: 100%;
}

.about-images {
  height: fit-content;
  width: fit-content;
  display: flex;
  gap: 1.25rem;
}

.about-images img {
  height: 25rem;
}

.about-images-container {
  position: relative;
  height: fit-content;
  border-radius: 1rem;
  overflow: hidden;
  height: 25rem;
}

.about-image-overlay {
  position: absolute;
  top: 60%;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  /* opacity: 0; */
  /* visibility: hidden; */
  transition: opacity 100ms ease-in-out;
}

.about-image-name {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  color: var(--color-white);
  font-size: 1.25rem;
  text-align: center;
  width: 100%;
  /* opacity: 0; */
  /* visibility: hidden; */
  /* transition: Opacity 500ms ease-in-out; */
}

/* .about-images-container:hover .about-image-name,
.about-images-container:hover .about-image-overlay {
  cursor: pointer;
  opacity: 1;
  visibility: visible;
} */

.about-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about-content p {
  font-family: "Roboto", sans-serif;
  font-size: var(--font-body-3);
  font-weight: var(--font-weight-body-3);
  line-height: var(--line-height-body-3);
  color: var(--color-grey-3);
}

.about-content p b {
  color: var(--color-grey-1);
}

.credibility-logos {
  display: inline-block;
  max-width: 100%;
  margin-top: 0.5rem;
  margin-left: -0.15rem;
}

/* ------------ Mid-Desktop design ------------ */
@media (max-width: 1250px) {
  .about-section {
    padding: 6rem 1rem;
    gap: 2rem;
  }

  .about-images-container {
    width: 16rem;
  }
}

/* ------------ Tablet design ------------ */
@media (max-width: 1024px) {
  .about-section {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 2rem 4rem;
    width: 100%;
  }

  .about-images,
  .about-images-container {
    width: -webkit-fill-available;
  }

  .about-images img {
    height: 25rem;
    width: -webkit-fill-available;
    object-fit: cover;
  }

  .about-image-overlay {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
  }

  /* .about-image-overlay,
  .about-image-name {
    visibility: visible;
    opacity: 1;
  } */

  .about-content {
    align-items: center;
  }
}

/* ------------ Mobile design ------------ */
@media (max-width: 480px) {
  .about-section {
    flex-direction: column-reverse;
    padding: 2rem 1rem;
    gap: 1.2rem;
  }

  .about-images {
    flex-direction: column;
  }
}

/* ------------ Contact Section styles ------------ */
.contact-section {
  display: flex;
  padding: 2.5rem;
  width: 100%;
}

.contact-container {
  background: var(--color-accent-light-blue);
  background-image: url(./assets/vectors/abstract-pattern.svg);
  background-position: bottom left;
  background-repeat: no-repeat;
  padding: 3.75rem;
  border-radius: 1.5rem;
  display: flex;
  gap: 2.5rem;
}

.contact-content {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.75rem;
}

.contact-content-label {
  position: relative;
  padding-bottom: 0.25rem;
  font-family: "Roboto", sans-serif;
  font-size: var(--font-label-2);
  font-weight: var(--font-weight-label-2);
  line-height: var(--line-height-label-2);
  color: var(--color-grey-1);
  letter-spacing: 1.5px;
  word-spacing: 2px;
}

.contact-content-label::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 65%;
  height: 0.2rem;
  border-radius: 2rem;
  background-color: var(--color-accent-blue); /* Use the current text color */
}

.contact-content-heading {
  color: var(--color-black);
}

.contact-form {
  background: var(--color-white);
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  border-radius: 1.25rem;
  padding: 2.5rem;
  min-width: 56%;
  box-shadow: 1.5rem 1.5rem 3.75rem rgba(68, 68, 68, 0.16);
}

.contact-form p {
  font-family: "Roboto", sans-serif;
  font-size: var(--font-button-2);
  font-weight: var(--font-weight-button-2);
  line-height: var(--line-height-button-2);
  color: var(--color-grey-1);
  text-align: left;
}

.contact-name {
  display: flex;
  gap: 1rem;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: var(--font-label-1);
  font-weight: var(--font-weight-label-1);
  line-height: var(--line-height-label-1);
  background: var(--color-accent-light-blue);
  color: var(--color-grey-1);
  padding: 1.5rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  font-size: var(--font-label-1);
  font-weight: var(--font-weight-label-1);
  line-height: var(--line-height-label-1);
  color: var(--color-grey-3);
}

.contact-form textarea {
  resize: none;
  min-height: 8rem;
}

.contact-form textarea::-webkit-scrollbar {
  width: 0.28rem;
}

.contact-form textarea::-webkit-scrollbar-thumb {
  background-color: var(--color-grey-6);
}

.contact-confirmation {
  /* display: flex; */
  display: none;
  flex-direction: column;
  gap: 0.2rem;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1000;
  align-items: center;
  overflow: hidden;
  justify-content: center;
  padding: 2rem 3.2rem;
  border-radius: 1rem;
  background-color: var(--color-white);
  box-shadow: 0.6rem 0.6rem 0.8rem rgba(0, 0, 0, 0.2);
}

.contact-confirmation p {
  font-size: var(--font-heading-3);
  font-weight: var(--font-weight-heading-3);
  line-height: var(--line-height-heading-3);
  color: var(--color-accent-blue);
  text-align: center;
}

.contact-confirmation p span {
  font-size: var(--font-label-1);
  font-weight: var(--font-weight-label-1);
  line-height: var(--line-height-label-1);
  color: var(--color-black);
}

/* Progress bar */
.progressBar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.4rem;
  width: 100%;
  background: var(--color-accent-blue); /* Same color as popup background */
  animation: shrink 5s linear forwards; /* Animating for 8 seconds */
}

@keyframes shrink {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

/* ------------ Tablet design ------------ */
@media (max-width: 1200px) {
  .contact-container {
    padding: 2.25rem 1.75rem;
    gap: 1.75rem;
  }
}

/* ------------ Mid Tablet design ------------ */
@media (max-width: 950px) {
  .contact-container {
    flex-direction: column;
  }
}

/* ------------ Mobile design ------------ */
@media (max-width: 480px) {
  .contact-section {
    padding: 2.5rem 0 0;
  }

  .contact-container {
    padding: 2rem 1.25rem;
    border-radius: 0;
  }

  .contact-form {
    padding: 1.25rem;
  }

  .contact-name {
    flex-direction: column;
  }

  .contact-form input,
  .contact-form textarea {
    padding: 1.25rem 1rem;
  }

  .contact-confirmation {
    top: 1rem;
    height: fit-content;
    right: 50%;
    transform: translateX(50%);
    width: 90%;
    padding: 1.2rem;
  }
}

/* ------------ Footer Section styles ------------ */
footer {
  width: 100%;
  height: 25px;
  box-shadow: -1rem -1rem 2rem rgba(72, 72, 72, 0.06);
}

.footer-container {
  background: var(--color-white);
  max-width: 1440px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 2.5rem;
}

.footer-container p {
  font-size: var(--font-label-3);
  line-height: var(--line-height-label-3);
  color: var(--color-grey-4);
  max-width: 60%;
}

.footer-container img:hover {
  cursor: pointer;
  background-color: var(--color-accent-light-blue);
  border-radius: 0.1rem;
}
/* ------------ Tablet design ------------ */
@media (max-width: 1200px) {
}
/* ------------ Mobile design ------------ */
@media (max-width: 480px) {
  .footer-container {
    padding: 1rem;
  }

  .footer-container p {
    font-size: var(--font-label-2);
    font-weight: var(--font-weight-label-2);
  }
}

.new-section {
  background: var(--color-grey-6);
  height: 100vh;
}
