/* ------------------------ Base Classes ------------------------ */

/* ------------------------ Products Page ------------------------ */

.wrapper {
  position: relative;
}
.wrapper::before,
.wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  pointer-events: none;
  z-index: -1;
}
.wrapper::before {
  left: 0;
  right: 50%;
  background-color: var(--color-black);
}
.wrapper::after {
  left: 50%;
  right: 0;
  background-color: var(--color-white);
}
.main-container {
  display: flex;
  min-height: 100vh;
}

.payments-censored-sec > h1,
.rfp-template-sec > h1 {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1.75rem, 1.481vw + 1.417rem, 2.75rem);
  line-height: var(--line-height-heading-1);
  font-weight: var(--font-weight-heading-1);
}

.payments-censored-sec > p,
.rfp-template-sec > p {
  margin-block: 0.5rem 2rem;
  font-size: clamp(1rem, 0.8333rem + 0.7407vw, 1.5rem);
  line-height: var(--line-height-body-1);
  font-weight: var(--font-weight-body-1);
}
.payments-censored-sec > a,
.rfp-template-sec > a {
  align-self: flex-start;
}

.payments-censored-sec {
  flex: 1;
  padding-block: 5.5rem 3.5rem;
  padding-right: 4rem;

  display: flex;
  flex-direction: column;
  color: var(--color-white);

  background-image: url("/assets/images/payments-censored-mockup-lg.webp");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 110%;
}

.rfp-template-sec {
  flex: 1;

  color: var(--color-grey-1);

  padding-block: 3.5rem;
  padding-left: 4rem;

  display: flex;
  flex-direction: column;
}
.rfp-img {
  width: 100%;
  height: 20rem;
  flex-shrink: 0;
  border-radius: 2rem;
  overflow: hidden;
  margin-bottom: 2rem;
  overflow: hidden;

  background: url("/assets/images/rfp-template-mockup.webp"),
    url("/assets/vectors/rfp-img-circle.svg");
  background-position: bottom -4rem right, top -4rem left -4rem;
  background-repeat: no-repeat, no-repeat;
  background-size: 27rem, 400px;
  background-color: var(--color-accent-light-blue);
}

/* ------------ Tablet design ------------ */
@media (max-width: 1024px) {
  .main-container {
    flex-direction: column;
    min-height: unset;
  }

  .wrapper::before,
  .wrapper::after {
    display: none;
  }

  .payments-censored-sec {
    padding-block: 5rem 10rem;
    padding-inline: 1.2rem;

    background-image: url("/assets/images/payments-censored-mockup-sm.webp");
    background-color: var(--color-black);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: 120%;
  }

  .rfp-template-sec {
    padding-inline: 1.2rem;
    background-color: var(--color-white);
  }

  .rfp-template-sec > p {
    margin-block: 0.5rem 2rem;
    width: 100%;
    max-width: 60ch;
  }
}

/* ------------ Mobile design ------------ */
@media (max-width: 360px) {
  .payments-censored-sec p > br {
    display: none;
  }

  .rfp-img {
    background-position: bottom -2rem right, top -4rem left -4rem;
    background-size: min(25rem, 130%), 200px;
  }
}
