body {
  background-color: var(--color-accent-light-blue);
}

.rfp-template__section {
  padding: 0 2rem;
}

.rfp-template__container {
  width: fit-content;
  margin: 2.5rem auto;
  padding: 2rem;
  border-radius: 2rem;
  background-color: var(--color-white);
}

.rfp-template__container > .main-container {
  display: flex;
  gap: 3rem;
}

.rfp-template__content {
  flex: 1.25;
  display: flex;
  flex-direction: column;
  gap: 1.625rem;
  color: var(--color-grey-1);
  height: min(70vh, 43.75rem);
}
.rfp-template__content h1 {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1.75rem, 1.481vw + 1.417rem, 2.75rem);
  line-height: var(--line-height-heading-1);
  font-weight: var(--font-weight-heading-1);
}
.rfp-template__content ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
  overflow-y: auto;
  padding-right: 0.75rem;
}

.rfp-template__content ul::-webkit-scrollbar {
  width: 0.4rem;
}
.rfp-template__content ul::-webkit-scrollbar-thumb {
  background-color: var(--color-grey-6);
}
.rfp-template__content ul::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-grey-5);
  cursor: grab;
}

.rfp-template__content li {
  position: relative;
  font-size: clamp(1rem, 0.8333rem + 0.7407vw, 1.5rem);
  line-height: var(--line-height-body-1);
  font-weight: var(--font-weight-body-1);
  margin-left: 2.125rem;
}
.rfp-template__content li::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 0.625rem;
  top: clamp(0.5625rem, 0.4167rem + 0.6481vw, 1rem);
  left: -2.125rem;
  background-image: url("/assets/icons/right-arrow-vector.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.rfp-template__img-wrapper {
  flex: 1;
  border-radius: 2rem;
  background-color: var(--color-accent-light-blue);
  overflow: hidden;

  background-image: url("/assets/images/rfp-template-mockup.webp");
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 105%;
}

.rfp-template__img-wrapper__content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  --content-gap: clamp(2rem, 1.5417rem + 2.037vw, 3.375rem);
  gap: var(--content-gap);
  padding-block: clamp(0.875rem, 0.75rem + 0.5556vw, 1.25rem);
  padding-inline: clamp(1rem, 0.5rem + 2.2222vw, 2.5rem);
  color: var(--color-grey-6);
  background-color: var(--color-grey-2);
  border-radius: 0 0 1.25rem 0;
}
.rfp-template__img-wrapper__content li {
  position: relative;
  font-size: clamp(1rem, 0.9167rem + 0.3704vw, 1.25rem);
  line-height: var(--line-height-button-1);
}
.rfp-template__img-wrapper__content li + li {
  position: relative;
}
.rfp-template__img-wrapper__content li + li::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: var(--color-grey-6);
  top: 50%;
  left: calc(-1 * calc(3px + var(--content-gap) / 2));
  transform: translateY(-50%);
  border-radius: 50%;
}

/* ------------ Tablet design ------------ */
@media (max-width: 1024px) {
  body {
    background-color: var(--color-white);
  }

  .rfp-template__section {
    padding: 0;
  }

  .rfp-template__container {
    width: 100%;
    margin: 1.5rem auto;
    padding: 0 clamp(1rem, 0.6667rem + 1.4815vw, 2rem);
  }

  .rfp-template__container > .main-container {
    flex-direction: column-reverse;
    gap: 2rem;
  }

  .rfp-template__content {
    height: unset;
  }

  .rfp-template__img-wrapper {
    min-height: clamp(22.5rem, 17.756rem + 21.0843vw, 31.25rem);

    border-radius: 1rem;

    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: clamp(20.5rem, 12.6386rem + 34.9398vw, 35rem);
  }
}

/* ------------ Mobile design ------------ */
@media (max-width: 360px) {
  .rfp-template__img-wrapper__content {
    width: 100%;
    border-radius: 0;
  }

  .rfp-template__content li::before {
    width: 0.8rem;
    height: 0.5rem;
  }
}
